# Problem Statement
Problem goes here

# Import Libraries

In [73]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

# Import Dataset

In [74]:
df = pd.read_csv("CustomerChurn_dataset.csv")

# Exploratory Data Analysis

In [76]:
print("The shape of the dataset is: ", df.shape)

The shape of the dataset is:  (7043, 21)

In [77]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

Findings:
1. There are no null values so there is no need for imputation.
2. Churn is the target value.
3. There are 18 non-numerical attributes and 3 numerical attributes.

In [85]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
customerID,7043,7043,7590-VHVEG,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,7043,2,Male,3555,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SeniorCitizen,7043.0,NaN,NaN,NaN,0.162147,0.368612,0.0,0.0,0.0,0.0,1.0
Partner,7043,2,No,3641,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dependents,7043,2,No,4933,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tenure,7043.0,NaN,NaN,NaN,32.371149,24.559481,0.0,9.0,29.0,55.0,72.0
PhoneService,7043,2,Yes,6361,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MultipleLines,7043,3,No,3390,NaN,NaN,NaN,NaN,NaN,NaN,NaN
InternetService,7043,3,Fiber optic,3096,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OnlineSecurity,7043,3,No,3498,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OnlineBackup,7043,3,No,3088,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DeviceProtection,7043,3,No,3095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TechSupport,7043,3,No,3473,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StreamingTV,7043,3,No,2810,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StreamingMovies,7043,3,No,2785,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Contract,7043,3,Month-to-month,3875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PaperlessBilling,7043,2,Yes,4171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PaymentMethod,7043,4,Electronic check,2365,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyCharges,7043.0,NaN,NaN,NaN,64.761692,30.090047,18.25,35.5,70.35,89.85,118.75
TotalCharges,7043,6531,,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Churn,7043,2,No,5174,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [87]:
assert pd.notnull(df).all().all()

# Exploring type Object

In [101]:
# objects = df.select_dtypes(exclude=["number"])
objects = [i for i in df.columns if df[i].dtype=='0']

In [98]:
df[objects].head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [90]:
for i in objects:
    print(objects[i].value_counts)

<bound method IndexOpsMixin.value_counts of 0       7590-VHVEG
1       5575-GNVDE
2       3668-QPYBK
3       7795-CFOCW
4       9237-HQITU
           ...
7038    6840-RESVB
7039    2234-XADUH
7040    4801-JZAZL
7041    8361-LTMKD
7042    3186-AJIEK
Name: customerID, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       Female
1         Male
2         Male
3         Male
4       Female
         ...
7038      Male
7039    Female
7040    Female
7041      Male
7042      Male
Name: gender, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       Yes
1        No
2        No
3        No
4        No
       ...
7038    Yes
7039    Yes
7040    Yes
7041    Yes
7042     No
Name: Partner, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1        No
2        No
3        No
4        No
       ...
7038    Yes
7039    Yes
7040    Yes
7041     No
7042     No
Name: Dependents, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1       Yes
2       Yes
3        No
4       Yes
       ...
7038    Yes
7039    Yes
7040     No
7041    Yes
7042    Yes
Name: PhoneService, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       No phone service
1                     No
2                     No
3       No phone service
4                     No
              ...
7038                 Yes
7039                 Yes
7040    No phone service
7041                 Yes
7042                  No
Name: MultipleLines, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0               DSL
1               DSL
2               DSL
3               DSL
4       Fiber optic
           ...
7038            DSL
7039    Fiber optic
7040            DSL
7041    Fiber optic
7042    Fiber optic
Name: InternetService, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1       Yes
2       Yes
3       Yes
4        No
       ...
7038    Yes
7039     No
7040    Yes
7041     No
7042    Yes
Name: OnlineSecurity, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       Yes
1        No
2       Yes
3        No
4        No
       ...
7038     No
7039    Yes
7040     No
7041     No
7042     No
Name: OnlineBackup, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1       Yes
2        No
3       Yes
4        No
       ...
7038    Yes
7039    Yes
7040     No
7041     No
7042    Yes
Name: DeviceProtection, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1        No
2        No
3       Yes
4        No
       ...
7038    Yes
7039     No
7040     No
7041     No
7042    Yes
Name: TechSupport, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1        No
2        No
3        No
4        No
       ...
7038    Yes
7039    Yes
7040     No
7041     No
7042    Yes
Name: StreamingTV, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1        No
2        No
3        No
4        No
       ...
7038    Yes
7039    Yes
7040     No
7041     No
7042    Yes
Name: StreamingMovies, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       Month-to-month
1             One year
2       Month-to-month
3             One year
4       Month-to-month
             ...
7038          One year
7039          One year
7040    Month-to-month
7041    Month-to-month
7042          Two year
Name: Contract, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       Yes
1        No
2       Yes
3        No
4       Yes
       ...
7038    Yes
7039    Yes
7040    Yes
7041    Yes
7042    Yes
Name: PaperlessBilling, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0                Electronic check
1                    Mailed check
2                    Mailed check
3       Bank transfer (automatic)
4                Electronic check
                  ...
7038                 Mailed check
7039      Credit card (automatic)
7040             Electronic check
7041                 Mailed check
7042    Bank transfer (automatic)
Name: PaymentMethod, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: TotalCharges, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1        No
2       Yes
3        No
4       Yes
       ...
7038     No
7039     No
7040     No
7041    Yes
7042     No
Name: Churn, Length: 7043, dtype: object>

In [59]:
limit = 30
percentage = (df.isnull().sum()/len(df))*100
drop = percentage[percentage > limit].index
df.drop(columns = drop, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [60]:
numbers = df.select_dtypes(include=["number"])

In [61]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
label = LabelEncoder()

for i in objects.columns:
  objects[i] = label.fit_transform(objects[i])

In [62]:
objects

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,Churn
0,5375,0,1,0,0,1,0,0,2,0,0,0,0,0,1,2,2505,0
1,3962,1,0,0,1,0,0,2,0,2,0,0,0,1,0,3,1466,0
2,2564,1,0,0,1,0,0,2,2,0,0,0,0,0,1,3,157,1
3,5535,1,0,0,0,1,0,2,0,2,2,0,0,1,0,0,1400,0
4,6511,0,0,0,1,0,1,0,0,0,0,0,0,0,1,2,925,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,4853,1,1,1,1,2,0,2,0,2,2,2,2,1,1,3,1597,0
7039,1525,0,1,1,1,2,1,0,2,2,0,2,2,1,1,1,5698,0
7040,3367,0,1,1,0,1,0,2,0,0,0,0,0,0,1,2,2994,0
7041,5934,1,1,0,1,2,1,0,0,0,0,0,0,0,1,3,2660,1
7042,2226,1,0,0,1,0,1,2,0,2,2,2,2,2,1,0,5407,0

In [63]:
df_combined = pd.concat([numbers, objects], axis=1)
df_combined.head()

,SeniorCitizen,tenure,MonthlyCharges,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,Churn
0,0,1,29.85,5375,0,1,0,0,1,0,...,2,0,0,0,0,0,1,2,2505,0
1,0,34,56.95,3962,1,0,0,1,0,0,...,0,2,0,0,0,1,0,3,1466,0
2,0,2,53.85,2564,1,0,0,1,0,0,...,2,0,0,0,0,0,1,3,157,1
3,0,45,42.30,5535,1,0,0,0,1,0,...,0,2,2,0,0,1,0,0,1400,0
4,0,2,70.70,6511,0,0,0,1,0,1,...,0,0,0,0,0,0,1,2,925,1

In [64]:
corr_matrix = df_combined.corr()
corr_matrix["Churn"].sort_values()

Contract           -0.396713
tenure             -0.352229
OnlineSecurity     -0.289309
TechSupport        -0.282492
OnlineBackup       -0.195525
DeviceProtection   -0.178134
Dependents         -0.164221
Partner            -0.150448
InternetService    -0.047291
StreamingMovies    -0.038492
StreamingTV        -0.036581
customerID         -0.017447
gender             -0.008612
PhoneService        0.011942
TotalCharges        0.014479
MultipleLines       0.038037
PaymentMethod       0.107062
SeniorCitizen       0.150889
PaperlessBilling    0.191825
MonthlyCharges      0.193356
Churn               1.000000
Name: Churn, dtype: float64

In [65]:
#Split into features and target
#features = X_train.iloc[:,:-1]
y = df_combined["Churn"]
X = df_combined.drop(["Churn"], axis=1)
X

,SeniorCitizen,tenure,MonthlyCharges,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges
0,0,1,29.85,5375,0,1,0,0,1,0,0,2,0,0,0,0,0,1,2,2505
1,0,34,56.95,3962,1,0,0,1,0,0,2,0,2,0,0,0,1,0,3,1466
2,0,2,53.85,2564,1,0,0,1,0,0,2,2,0,0,0,0,0,1,3,157
3,0,45,42.30,5535,1,0,0,0,1,0,2,0,2,2,0,0,1,0,0,1400
4,0,2,70.70,6511,0,0,0,1,0,1,0,0,0,0,0,0,0,1,2,925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,4853,1,1,1,1,2,0,2,0,2,2,2,2,1,1,3,1597
7039,0,72,103.20,1525,0,1,1,1,2,1,0,2,2,0,2,2,1,1,1,5698
7040,0,11,29.60,3367,0,1,1,0,1,0,2,0,0,0,0,0,0,1,2,2994
7041,1,4,74.40,5934,1,1,0,1,2,1,0,0,0,0,0,0,0,1,3,2660
7042,0,66,105.65,2226,1,0,0,1,0,1,2,0,2,2,2,2,2,1,0,5407

In [66]:
# Initialize the StandardScaler
scaler = StandardScaler()

# Scale the numeric columns
scaled = scaler.fit_transform(X)
X = pd.DataFrame(X, columns=X.columns)

In [67]:
rfr = RandomForestClassifier()
rfr.fit(X, y)

features = X.columns
feature_importance = rfr.feature_importances_
importances = pd.DataFrame({'Feature': features, 'Importance': feature_importance})

importances = importances.sort_values(by='Importance', ascending=False)
importances

             Feature  Importance
1             tenure    0.154642
2     MonthlyCharges    0.141489
19      TotalCharges    0.135150
3         customerID    0.130660
16          Contract    0.074585
10    OnlineSecurity    0.048940
18     PaymentMethod    0.045536
13       TechSupport    0.043808
11      OnlineBackup    0.025322
9    InternetService    0.024757
4             gender    0.023387
17  PaperlessBilling    0.022722
12  DeviceProtection    0.020373
8      MultipleLines    0.020156
5            Partner    0.018820
0      SeniorCitizen    0.018253
6         Dependents    0.016912
15   StreamingMovies    0.014812
14       StreamingTV    0.014471
7       PhoneService    0.005203

# EDA

In [70]:
ax = plt.subplots(figsize=(30, 24))
ax = sns.barplot(x=feature_scores, y=feature_scores.index, data=importances)
ax.set_title("Visualize feature scores of the features")
ax.set_yticklabels(feature_scores.index)
ax.set_xlabel("Feature importance score")
ax.set_ylabel("Features")
plt.show()

AttributeError: module 'matplotlib' has no attribute 'subplots'

In [68]:
X_train,  X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)